In [1]:
import numpy as np

In [4]:
x =np.array([[1,2,3] ,[4,5,6] ,[7,8,9]])

In [5]:
x

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
x*2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

# Assignment 2

In [2]:
import pandas as pd

In [ ]:

df =pd.DataFrame({'product_name' : ['apple' , 'banana' , 'orange'] , 'price' : [12,49,45] , 'stock' :[2,3,113]})
df

  product_name  price  stock
0        apple     12      2
1       banana     49      3
2       orange     45    113

# Assignment 3

In [6]:
fc = df[df['stock'] >50]

In [7]:
fc

  product_name  price  stock
2       orange     45    113